In [17]:
import pandas as pd

In [25]:
df = pd.read_csv('/content/glassdoor_jobs.csv')

In [ ]:
df

In [26]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [27]:
df = df[df['Salary Estimate'] != '-1']
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
minus_kd = salary.apply(lambda x: x.replace('K','').replace('$',''))
minus_hr = minus_kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [28]:
df['min_salary'] = minus_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = minus_hr.apply(lambda x: int(x.split('-')[1]))
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [ ]:
df['company_txt'] = df.apply(lambda x:x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3],axis = 1)
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df['job_state'].value_counts()

In [36]:
df['same_state'] = df.apply(lambda x : 1 if x.Location == x.Headquarters else 0,axis = 1)

0      0
1      0
2      1
3      1
4      1
      ..
950    0
951    0
952    1
953    0
955    0
Name: same_state, Length: 742, dtype: int64

In [37]:
df['age'] = df.Founded.apply(lambda x : x if x<1 else 2021 - x)

In [46]:
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() else 0)
df['spark_yn'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['aws_yn'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df['excel_yn'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [ ]:
df.R_yn.value_counts()

In [ ]:
df.python_yn.value_counts()

In [ ]:
df.spark_yn.value_counts()

In [ ]:
df.aws_yn.value_counts()

In [ ]:
df.excel_yn.value_counts()

In [51]:
df_out = df.drop(['Unnamed: 0'],axis=1)
df_out.to_csv('salary_data_cleaned.csv',index= False)